# OS X
.DS_Store

# Vim
*.swp

# Folder
cpp/
file_folder/
pascal/
py2/
python/
test/
train/
unknow/
param/
coffee/
java/
js-test/
js/
zip/

#
*.txt
*.mat

# python bytecode
*.pyc

# octave
*octave-workspace*

